
.App {
  padding-top: 1rem;
  box-sizing: border-box;
}

.section {
  width: max-content;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  overflow: hidden;
}

.box {
  width: 150px;
  margin-bottom: 1rem;
  height: 100%;
  border: none;
  padding-left: 1rem;
  outline: none;
}

.selectBox {
  width: 100px;
  height: 100%;
  border: none;
  border-left: 1px solid lightgray;
  margin-bottom: 1rem;
  outline: none;
  font-weight: bold;
}

option {
  color: black;
  text-align: center;
}

.button {
  background-color: rgb(153, 201, 208);
  color: #F0F8FF;
  border: none;
  display: block;
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 0.9rem;
}

.button:hover {
  background-color: powderblue;
}
